OTEL_SERVICE_NAME=ktranslate
OTEL_EXPORTER_OTLP_COMPRESSION=gzip
NF_SOURCE=auto
GC_OTLP_URL=https://foo/otlp
GC_OTLP_ACCOUNT=0000000
GC_OTLP_KEY=glc_foo
SYSLOG_SOURCE=0.0.0.0:1514
# Host interface for host-sflow to listen on. See README for an auto-detect
# one-liner, or set this manually to whatever `ip route show default` reports.
HOST_NET=ens4
